<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <h1 class="mt-4">Board Read Page</h1>

<!--        <div class="form-group">-->
<!--            <label >boardNUMBER</label>-->
<!--            <input type="text" class="form-control" name="boardNUMBER" th:value="${dto.boardNUMBER}" readonly >-->
<!--        </div>-->
        <div class="form-group">
            <label >글 제목</label>
            <input type="text" class="form-control" name="boardTITLE" th:value="${dto.boardTITLE}" readonly >
        </div>
        <div class="form-group">
            <label >글 내용</label>
            <textarea class="form-control" rows="5" name="boardCONTENT" readonly>[[${dto.boardCONTENT}]]</textarea>
        </div>
        <div class="form-group">
            <label >글쓴이</label>
            <input type="text" class="form-control" name="boardNICKNAME"  th:value="${dto.boardNICKNAME}" readonly>
        </div>
        <div class="form-group">
            <label >날짜</label>
            <input type="text" class="form-control" name="regDATE" th:value="${#temporals.format(dto.regDATE, 'yyyy/MM/dd')}" readonly>
        </div>
        <div class="form-group">
            <label >수정날짜</label>
            <input type="text" class="form-control" name="modDATE" th:value="${#temporals.format(dto.modDATE, 'yyyy/MM/dd')}" readonly>
        </div>
        <div class="form-group">

            <a th:href="@{/board/modify(boardNUMBER = ${dto.boardNUMBER}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                <button type="button" class="btn btn-primary">수정</button>
            </a>

            <a th:href="@{/board/board(page=${requestDTO.page} , type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
                <button type="button" class="btn btn-info">목록</button>
            </a>

            <div>
                <div class="mt-4">
                    <h5><span class="'badge badge-info addReply">댓글 작성</span></h5>
                    <h5><span class="badge badge-secondary replyCount">댓글[[${dto.replyCount}]]</span></h5>
                </div>
                <div class="list-group replyList">

                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">댓글 작성</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span> </button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" name="replyCONTENT" placeholder="댓글 작성...">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="memberNICKNAME" readonly >
                                <input type="hidden" name="replyNUMBER" >
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger replyRemove">삭제</button>
                            <button type="button" class="btn btn-warning replyModify">수정</button>
                            <button type="button" class="btn btn-primary replySave">추가</button>
                            <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">닫기</button>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Java 의 데이터를 JavaScript 변수에 바로 대입이 가능 -->
            <script th:inline="javascript">

                //자바의 dto.bno 값이 bno에 대입
                var boardNUMBER = [[${dto.boardNUMBER}]];

                //댓글을 가져와서 출력하는 함수
                function loadJSONData(){
                    //get 방식으로 ajax 요청
                    $.getJSON('/replies/board/' + boardNUMBER, function(arr){
                        console.log(arr);
                        //댓글 수 영역을 다시 출력 - 댓글을 추가하거나 삭제했을 때
                        //다시 출력하기 위해서
                        $(".replyCount").html("댓글 수 " + arr.length);

                        //목록을 출력하기 위한 변수
                        var str = "";
                        //배열 순회
                        $.each(arr, function(idx, reply){
                            console.log(reply);
                            //댓글 번호를 replyNUMBER로 저장하고 출력
                            str += '<div class="card-body">';
                            //card-body를 사용 했을 시 replyNUMBER를 읽어오지 못해 hidden으로 class를 다시 만들어
                            //불러 오도록 만듦.
                            str += "<input type='hidden' class='card-replyNUMBER' value='" + reply.replyNUMBER + "'/>";
                            //댓글 내용 출력
                            str += '<h5 class="card-title">' + reply.replyCONTENT + "</h5>";
                            //작성자 출력
                            str += '<h6 class="card-subtitle mb-2 text-muted">' + reply.memberNICKNAME
                                + "</h6>";
                            //작성 시간 출력
                            str += '<p class="card-text">' + formatTime(reply.regDATE)
                                + "</p>";

                            str += '</div>';
                        });
                        //만들어진 내용을 listGroup 에 출력
                        listGroup.html(str);

                    });
                }

                //문서를 전부 읽고 나면
                $(document).ready(function(){
                    //댓글 개수 부분을 클릭하면
                    $(".replyCount").click(function(){
                        loadJSONData();
                    });
                });
                //댓글이 추가될 영역
                var listGroup = $(".replyList");

                //날짜 데이터를 문자열로 변환해서 리턴해주는 함수
                function formatTime(str){
                    //날짜 객체 생성
                    var date = new Date(str);
                    //문자열을 생성해서 리턴
                    return date.getFullYear() + "/" + (date.getMonth() + 1)
                        + "/" + date.getDate() + ' ' + date.getHours() + ":"
                        + date.getMinutes();
                }

                var modal = $(".modal");

                //댓글 작성 버튼을 누를 때
                $(".addReply").click(function(e){
                    var memberNICKNAME = [[${memberDTO.memberNICKNAME}]];
                    modal.modal('show');
                    //댓글 입력할 부분을 초기화
                    $('input[name="replyCONTENT"]').val('');
                    $('input[name="memberNICKNAME"]').val(memberNICKNAME);
                    //모든 버튼을 숨기기
                    $('.modal-footer .btn').hide();
                    //필요한 버튼만 출력
                    $('.replySave, .replyClose').show();
                });

                //모달 창에서 추가 버튼을 눌렀을 때 처리
                $('.replySave').click(function(){
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var name = $("#userName").val();

                    var jsonData = {
                        "name" : name
                    }
                    //삽입에 사용할 데이터를 작성
                    var reply = {
                        boardNUMBER:boardNUMBER,
                        replyCONTENT:$('input[name="replyCONTENT"]').val(),
                        memberNICKNAME:$('input[name="memberNICKNAME"]').val()

                    }
                    console.log("리플" + reply);
                    $.ajax({
                        url:'/replies/',
                        method:'post',
                        data:JSON.stringify(reply),
                        beforeSend : function(xhr)
                        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                            xhr.setRequestHeader(header, token);
                        },
                        contentType:'application/json; charset=utf-8',
                        dataType:'json',
                        success:function(data){
                            console.log("데이터 : " + data);
                            //넘어온 댓글 번호 저장
                            alert("등록 하시겠습니까?");
                            //대화상자 닫기
                            modal.modal('hide');
                            //댓글 다시 출력
                            loadJSONData();
                        }
                    })

                });

                //댓글 영역을 클릭하면 댓글을 대화상자에 출력하기
                //기존의 replyList 영역 안의 card-body를 클릭하면
                //card-body 는 동적으로 생성된 객체이므로 일반 이벤트 처리는 사용할 수 없고
                //위임의 형태로 처리해야 합니다.
                $('.replyList').on("click", ".card-body", function(){
                    //각 글의 댓글 번호 가져오기
                    var replyNUMBER = $(this).find('.card-replyNUMBER').val();

                    //기존 데이터를 대화상자에 출력
                    $("input[name='replyCONTENT']").val($(this).find('.card-title').html());
                    $("input[name='memberNICKNAME']").val($(this).find('.card-subtitle').html());
                    $("input[name='replyNUMBER']").val(replyNUMBER);

                    //버튼 전부 숨기기
                    $(".modal-footer .btn").hide();
                    $('.replyRemove, .replyModify, .replyClose').show();

                    modal.modal('show');
                });
                //닫기 버튼을 눌렀을 때 처리
                $(".replyClose").on("click", function(){
                    modal.modal('hide');
                });

                //삭제 버튼을 눌렀을 때 처리
                $(".replyRemove").click(function(){

                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var name = $("#userName").val();

                    var jsonData = {
                        "name" : name
                    }
                    //삭제할 댓글 번호
                    var replyNUMBER = $("input[name='replyNUMBER']").val();

                    //삭제 요청
                    $.ajax({

                        beforeSend : function(xhr)
                        {
                            xhr.setRequestHeader(header, token);
                        },
                        url:'/replies/' + replyNUMBER,
                        method:'delete',
                        success:function(result){
                            if(result == 'success') {
                                alert("댓글이 삭제되었습니다");
                                //대화상자 닫기
                                modal.modal('hide');
                                //댓글 다시 출력
                                loadJSONData();
                            }
                        }
                    })
                });

                //수정 버튼을 눌렀을 때 처리
                $(".replyModify").click(function(){
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var name = $("#userName").val();

                    var jsonData = {
                        "name" : name
                    }
                    //수정에 사용할 데이터를 작성
                    var replyNUMBER = $("input[name='replyNUMBER']").val();
                    var reply = {
                        replyNUMBER:replyNUMBER,
                        boardNUMBER:boardNUMBER,
                        replyCONTENT:$('input[name="replyCONTENT"]').val(),
                        memberNICKNAME:$('input[name="memberNICKNAME"]').val()
                    }

                    $.ajax({
                        url:'/replies/' + replyNUMBER,
                        method:'put',
                        data:JSON.stringify(reply),
                        beforeSend : function(xhr)
                        {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
                            xhr.setRequestHeader(header, token);
                        },
                        contentType:'application/json; charset=utf-8',
                        success:function(result){
                            console.log(result);
                            alert("댓글이 수정되었습니다");
                            modal.modal('hide');
                            loadJSONData();
                        }
                    })

                });
            </script>

    </th:block>
</th:block>