<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/layout/basic:: setContent(~{this::content} )}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <hr>
    <a sec:authorize="isAnonymous()" th:href="@{/login/login}">로그인</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/login/logout}">로그아웃</a>
    <a sec:authorize="isAnonymous()" th:href="@{/login/signup}">회원가입</a>
</body>
    </th:block>
</th:block>
</html>