<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>회원가입</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<form th:action="@{/login/signup}" method="post" modelAttribute="memberdto">
    <div>
        <input type="text" name="memberNAME" th:value="${memberdto?.memberNAME}" placeholder="이름을 입력해주세요.">
        <span th:text="${valid_memberNAME}"></span>
    </div>
    <div>
        <input type="text" name="memberGENDER" th:value="${memberdto?.memberGENDER}" placeholder="성별을 입력해주세요.">
        <span th:text="${valid_memberGENDER}"></span>
    </div>
    <div>
        <input type="text" name="memberNICKNAME" th:value="${memberdto?.memberNICKNAME}" placeholder="별명을 입력해주세요.">
        <span th:text="${valid_memberNICKNAME}"></span>
    </div>
    <div>
        <input type="email" name="member_EMAIL" th:value="${memberdto?.memberEMAIL}" placeholder="이메일을 입력해주세요.">
        <span th:text="${valid_memberEMAIL}"></span>
    </div>
    <div>
        <input type="password" name="memberPW" th:value="${memberdto?.memberPW}" placeholder="비밀번호를 입력해주세요.">
        <span th:text="${valid_memberPW}"></span>
    </div>
    <div>
        <input type="text" name="memberADDRESS" th:value="${memberdto?.memberADDRESS}" placeholder="주소를 입력해주세요.">
        <span th:text="${valid_memberADDRESS}"></span>
    </div>
    <div>
        <input type="text" name="memberPHONE" th:value="${memberdto?.memberPHONE}" placeholder="번호를 입력해주세요.">
        <span th:text="${valid_memberPHONE}"></span>
    </div>


    <button>등록</button>
</form>
</body>
</html>