<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <title>회원가입</title>
</head>
<body>
<h1>회원 가입</h1>
<hr>

<form th:action="@{/login/signup}" method="post" modelAttribute="memberdto">
    <div>
        <input type="text" name="memberEMAIL" th:value="${memberdto.memberEMAIL}" placeholder="이메일을 입력해주세요.">
        <span th:text="${valid_memberEMAIL}"></span>
    </div>

    <div>
        <input type="text" name="memberNICKNAME" th:value="${memberdto.memberNICKNAME}" placeholder="닉네임을 입력해주세요.">
        <span th:text="${valid_memberNICKNAME}"></span>
    </div>

    <div>
        <input type="password" name="memberPW" placeholder="비밀번호">
        <span th:text="${valid_memberPW}"></span>
    </div>

    <button>등록</button>
</form>
</body>
</html>